<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Libs and tools I love</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="css/site.css">
</head>
<body>

 <div class='container' ng-app="ithings">

  <h1 class='main-title'>Some Things</h1>
  <h2 class='main-title-smaller'>Web libs and tools to never forget</h2>
  <div ng-view></div>
  <footer>Just refactored demo from <a class="brand" href="http://angularjs.org"><img src='https://angularjs.org/img/AngularJS-small.png'></a></footer>


  <!-- CACHE FILE: list.html -->
  <script type="text/ng-template" id="list.html">

    <div class="login-logout-panel">
      <span ng-show="user" class='login-explain'>{{user.github.displayName}}</span>
      <button ng-hide="user" ng-click="auth.$authWithOAuthPopup('github')">Login with Github</button>
      <button ng-show="user" ng-click="auth.$unauth()">Logout</button>
      <p ng-hide="user" class='login-explain'>Don't event try :-)</p>
    </div>


    <a class='button add-button' href="#/new">add</a>
    <div class='search-add'>
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
    </div>


    <ul class='things-list'>
      <li class='thing' ng-repeat="thing in things | filter:search">
        <h2 class='thing-title'><a href="{{thing.site}}" target="_blank">{{thing.name}}</a></h2>
        <a ng-show="user" href="#/edit/{{thing.$id}}" class='edit-link'>edit</a>
        <div class='tags'>{{thing.tags}}</div>
      </li>
    </ul>

  </script>



  <!-- CACHE FILE: detail.html -->
  <script type="text/ng-template" id="detail.html">
    <form name="myForm">
      <div class="control-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
        <label>Name</label>
        <input type="text" name="name" ng-model="thing.name" required>
        <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
            Required {{myForm.name.$pristine}}</span>
      </div>

      <div class="control-group" ng-class="{error: myForm.site.$invalid && !myForm.site.$pristine}">
        <label>Website</label>
        <input type="url" name="site" ng-model="thing.site" required>
        <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">
            Required</span>
        <span ng-show="myForm.site.$error.url" class="help-inline">
            Not a URL</span>
      </div>

      <label>Tags</label>
      <textarea name="tags" ng-model="thing.tags"></textarea>


      <br>
      <a href="#/" class="btn">Cancel</a>
      <button ng-click="save()" ng-disabled="myForm.$invalid"
              class="btn btn-primary">Save</button>
      <button ng-click="destroy()" class="btn btn-danger">Delete</button>
    </form>
  </script>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-route.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>
